{#
/**
 * @file
 * Theme to implement a the card layout for the content grid
 *
 * Created by Joshua Nicholson on 12/14/21
*
#}

{# set classes for the location of the media in the component #}
{% set columnNumbers = '2' %}

{% if content.field_grid_column_count|render %}
	{% set columnNumbers = 'top' %}

	{% if paragraph.field_grid_column_count.value is same as("0") %}
		{% set columnNumbers = "2" %}
	{% elseif paragraph.field_grid_column_count.value is same as("1") %}
		{% set columnNumbers = "3" %}
	{% elseif paragraph.field_grid_column_count.value is same as("2") %}
		{% set columnNumbers = "4" %}
	{% endif %}
{% endif %}

{% block paragraph %}
	<div class="container">
		<div class="row row-cols-lg-{{ columnNumbers }} row-cols-md-2 row-cols-1 justify-content-evenly">
			{% for item in content.field_card_layout_content %}
				{% if item['#paragraph'].field_grid_layout_content_title.value|render %}
					<div class="col">
						<div class="grid-card">
							<div class="grid-image-container grid-fill">
								<img itemprop="image" src="{{ file_url( item['#paragraph'].field_grid_layout_content_image.entity.field_media_image.entity.fileuri ) }}" class="grid-image" alt="{{ item['#paragraph'].field_grid_layout_content_image.entity.field_media_image.alt }}">
							</div>
							<div class="grid-card-text">
								<h3>{{ item['#paragraph'].field_grid_layout_content_title.value|render|striptags|trim }}</h3>
								{{ item['#paragraph'].field_grid_layout_content_text.value|render|striptags|trim }}
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock paragraph %}

{# 
  Classes to equalize using ucb-equalize-height.js
#}
<script>
	window.addEventListener("load", function () {
equalheight('.grid-image-container')
})
window.addEventListener("resize", function () {
setTimeout(function () {
equalheight('.grid-image-container')
})
})

window.addEventListener("load", function () {
equalheight('.grid-card')
})
window.addEventListener("resize", function () {
setTimeout(function () {
equalheight('.grid-card')
})
})
</script>
