{#
/**
 * @file
 * Theme override to display a Basic Page.
 * Block references are in page.html.twig
 *
 */
#}
{{ block("page_header", "page.html.twig") }}

{{ page.highlighted }}

{{ page.help }}
<main role="main">
  <a id="main-content" tabindex="-1"></a>
  <div class="layout-content">
    {{ page.content }}
  </div>
</main>
{{ block("page_footer", "page.html.twig") }}